@keyframes rave {
    0% {filter: hue-rotate(0deg) blur(0px); transform: scale(1)}
    12.5% {filter: hue-rotate(90deg) blur(7.5px); transform: scale(1.25)}
    25% {filter: hue-rotate(180deg) blur(15px); transform: scale(1)}
    37.5% {filter: hue-rotate(270deg) blur(7.5px); transform: scale(1.25)}
    50% { filter: hue-rotate(360deg) blur(0px); transform: scale(1)}
    62.5% {filter: hue-rotate(270deg) blur(7.5px); transform: scale(1.25)}
    75% {filter: hue-rotate(180deg) blur(15px); transform: scale(1)}
    87.5% {filter: hue-rotate(90deg) blur(7.5px); transform: scale(1.25)}
    100% { filter: hue-rotate(0deg) blur(0px); transform: scale(1)}
}
body {
background-color: black;
animation: none;
}
#titleh1 {
font-size: 70px;
color: black;
position: relative;
top: 50px;
font-family: 'Arvo', serif;
}
#titlediv {
background-color: gold;
height: 200px;
width: 104%;
display: block; margin: 0 auto;
margin-left: -2%;
margin-top: -50px;
text-align: center;
}
#titleunder {
font-family: 'Josefin Sans', sans-serif;
}