body {
background-color: black;
}
#titleh1 {
font-size: 70px;
color: black;
position: relative;
top: 50px;
font-family: 'Arvo', serif;
}
#titlediv {
background-color: gold;
height: 200px;
width: 110%;
margin-left: -50px;
margin-top: -50px;
text-align: center;
}
#titleunder {
font-family: 'Josefin Sans', sans-serif;
}
#digital, #animation, #home {
background-color: gold;
  border: solid 3px black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  width: 220px;
}
#digital:hover, #animation:hover, #home:hover {
  cursor: pointer;
border: solid 3px gold;
background-color: black;
color: gold;
}
#digital {
  left: 455px;
}
#animation {
  left: 889px;
  bottom: 52px;
}
#home {
  left: 672px;
  bottom: 104px;
}
#bee {
position: relative;
display: block;
margin: 0 auto;
margin-top: -50px;
width: 750px;
}